body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

a.free-btn {
  background-color: #ff52bf;
  padding: 15px 80px;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  color: #f5faff;
  border-radius: 50px;
  -webkit-box-shadow: #ff52bf 0px 0px 1px 1px;
          box-shadow: #ff52bf 0px 0px 1px 1px;
}

.site-name {
  width: 300px;
  height: 50px;
}

.hero {
  padding-bottom: 40px;
  background-color: #f5faff;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .header .try a {
  text-transform: capitalize;
  border: solid #ff52bf 1px;
  border-radius: 50px;
  padding: 10px 35px;
  -webkit-box-shadow: #ff52bf 0px 0px 1px 1px;
          box-shadow: #ff52bf 0px 0px 1px 1px;
}

.hero .hero-title {
  padding-top: 17%;
}

.hero .hero-title h1 {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 0;
}

.hero .hero-title p {
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 1.3rem;
}

.achievement {
  padding: 70px 0;
}

.mockup {
  padding-top: 70px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.ach-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ach-item h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .achievement {
    padding: 70px 0;
    padding-top: 50px;
  }
  .hero .hero-title p {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 1.3rem;
  }
}

@media (max-width: 76px) {
  .left-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.grow-together {
  padding: 40px 0;
  background-color: #f5faff;
  margin-top: -10px;
}

.left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

svg {
  display: block;
}

.top,
.bottom {
  display: block;
}

.flowing {
  padding: 40px 0;
}

.flowing .left-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.ready .ready-wrapper {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ready .ready-wrapper h1 {
  padding: 40px 0;
}

footer {
  padding: 70px 0;
  background-color: #00252e;
  color: #f5faff;
}

footer p {
  padding: 10px 0;
}

footer button {
  background-color: #ff52bf;
  color: #f5faff;
  font-weight: bold !important;
  padding: 7px 25px !important;
}

@media (max-width: 375px) {
  .site-name {
    width: 200px;
    height: 50px;
  }
  .hero .header .try a {
    padding: 8px 22px;
  }
  .hero .hero-title h1 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  .hero .hero-title p {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 1.1rem;
  }
  a.free-btn {
    padding: 15px 40px;
    font-size: 1rem;
  }
  .achievement {
    padding: 70px 0;
    padding-top: 0px;
  }
  .ach-item {
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  .hero .header .try a {
    padding: 8px 15px;
    font-size: .8rem;
  }
}
/*# sourceMappingURL=main.css.map */